.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .contact_container {
    border-radius: 5px;

    padding: 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
 
  * {
    box-sizing: border-box;
  }
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }  